





body { 
  background-color: purple;
text-align: center;
}

h1 {

  color: red;
}

#list{
  color: white;
  text-align: center;
  font-family: verdana;
}

#p{

  text-align: center
  ;overflow-wrap: normal;
}